# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Compiled class file
*.class

# Log file
/misc.xml

# BlueJ files
/modules.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

/*.xml
